name: publish-base-images

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - docker/**
      - .github/workflows/publish.yml

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - dockerfile: docker/Dockerfile.php-fpm-base-8.3
            image: ghcr.io/hunvreus/devpush-php-fpm-base
          - dockerfile: docker/Dockerfile.frankenphp-base-8.3
            image: ghcr.io/hunvreus/devpush-frankenphp-base
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ matrix.image }}:8.3
